h1{
	font-size: 38px;
	text-align: center;
	color: white;
}
fieldset{
	margin-top: 10px;
	margin-bottom: 10px;
}

legend{
	font-size: 20px;
}

body{
	color: #333333;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: linear-gradient(45deg, cyan, purple);
	line-height: 25px;
	font-size: 17px;
	background-attachment: fixed;
}

#main{
	margin: auto;
	background: white;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	width: 60%;
}

#description{
	font-size: 25px;
	width: 50%;
	background: pink;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
	margin: 5px 0px 0px -60px;
}


#footer{
	font-size: 20px;
	color: white;
	text-align: center;
}